<div layout="column" layout-align="space-around center" class="userinfo">
    <md-content>
        <img alt="{{ person.prenom }}" ng-src="{{person.img}}" class="md-avatar big"/>
    </md-content>

    <md-content>
        <b>{{person.prenom}}</b>
    </md-content>

    <md-content>
        Derniers cafés payés : {{person.dernierCafe | date}}
        <ng-pluralize
                count="person.joursDepuisDernierCafe"
                when="{'0': ': aujourd\'hui',
                         'one': ': hier',
                         'other': 'il y a : {} jours'}">
        </ng-pluralize>
    </md-content>

    <md-content>
        <ng-pluralize
                count="person.cafePayes"
                when="{'0': 'N\'a pas encore payé de café',
                         'one': 'A payé 1 café',
                         'other': 'A payé {} cafés'}">
        </ng-pluralize>
    </md-content>

    <md-content>
        <ng-pluralize
                count="person.cafeRecus"
                when="{'0': 'N\'a pas encore reçu de café',
                         'one': 'A reçu 1 café',
                         'other': 'A reçu {} cafés'}">
        </ng-pluralize>
    </md-content>

    <md-content>
        {{person.textSucre}}
    </md-content>

    <md-content>
        {{person.textTouillette}}
    </md-content>

    <md-content>
        {{person.textVacances}}
    </md-content>

    <md-content>
        {{person.textCachee}}
    </md-content>
</div>